@{
    ViewData["Title"] ="GenEinvoice";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:20px">
        <u> API to post  bill to CBMS <br /></u>
    </h1>
   
    <h1 style="font-size:15px">
        <br />
        @ViewBag.Processed
    </h1>

</div>


